/*
Free to use CSS template by Katie (#106445).
This code may be altered, edited, or re-uploaded. 
This template may be used to create paid codes (pre-mades and commissions).
Please do NOT remove this credit, unless your coding becomes unrecognizable from this one! 
*/

/* FONT (From Google Fonts) */

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet');

