.news blockquote,
.forum blockquote {
	background: rgba(228, 105, 30, 0.5);
	border-left: 3px solid rgba(0, 0, 0, 0.5);
	font-size: 1.2em;
	margin: 12px auto;
	padding-left: 2em;
	padding: 0.75em 1.5em 0.75em 0.75em;
	position: relative;
}
